mixin services()
    .services
        .container
            .services__service
                h2.h2 Наши услуги
                +picture({
                    path: `${baseDir}assets/images/services/rightallepsarrow`,
                    ext: `png`,
                }).for-desktop
            .services__list.for-desktop
                ul
                    li
                        a(href="#") Съемки сторис
                    li
                        a(href="#") Съемки вертикальных видео
                    li
                        a(href="#") Съемки для ютуб, рутуб
                    li
                        a(href="#") Вирусное видео
                    li
                        a(href="#") Аэросъемка
                    li
                        a(href="#") Бекстейдж
                    li
                        a(href="#") Все услуги
            .services__icon.for-desktop
                    +svg("down-arrow")
            .services__items.for-devices
                .services__items_item
                    a(href="#") Идея
                .services__items_item
                    a(href="#") Видео
                .services__items_item
                    a(href="#") Фото
                .services__items_item
                    a(href="#") Аудио
                .services__items_item
                    a(href="#") Текст
                .services__items_item
                    a(href="#") Печатня
            .services__menu
                a.services__menu-item.services__menu-item--1(href="#")
                    p Идея

