.projects {

    .container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__img {
        width: vc(365);
        height: vc(261);
        border-radius: vc(10);

        @include devices {
            width: vc(169);
            height: vc(120);
        }
    }

    &__title {
        font-weight: 500;
        font-size: vc(24);
        line-height: vc(28);
        color: $color-white;
        margin-top: vc(20);
        margin-bottom: vc(15);

        @include  devices {
            font-weight: 500;
            font-size: vc(15);
            line-height: vc(18);
            margin-top: vc(10);
            margin-bottom: vc(5);
        }
    }

    &__info {
        display: flex;
        gap: vc(20);
        align-items: center;

        @include devices {
            flex-direction: column;
            gap: vc(10);
            align-items: flex-start;
        }

        p {
            font-weight: 500;
            font-size: vc(24);
            line-height: vc(28);
            color: $color-orange;

            @include devices {
                font-size: vc(14);
                line-height: vc(16);
                order: 1;
            }
        }
    }
}
