.projects {
	.container {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	&__img {
		border-radius: vc(10);
		width: vc(365);
		height: vc(261);

		@include devices {
			width: vc(169);
			height: vc(120);
		}
	}

	&__title {
		margin-top: vc(20);
		margin-bottom: vc(15);
		font-weight: 500;
		font-size: vc(24);
		line-height: vc(28);
		color: $color-white;

		@include devices {
			margin-top: vc(10);
			margin-bottom: vc(5);
			font-weight: 500;
			font-size: vc(15);
			line-height: vc(18);
		}
	}

	&__info {
		display: flex;
		align-items: center;
		gap: vc(20);

		p {
			font-weight: 500;
			font-size: vc(24);
			line-height: vc(28);
			color: $color-orange;

			@include devices {
				order: 1;
				font-size: vc(14);
				line-height: vc(16);
			}
		}

		@include devices {
			flex-direction: column;
			align-items: flex-start;
			gap: vc(10);
		}
	}
}
