.projects {

    .container {
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: vc(365);
        height: vc(261);
        border-radius: vc(10);
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: vc(24);
        line-height: vc(28);
        color: $color-white;
        margin-top: vc(20);
        margin-bottom: vc(15);
    }

    &__info {
        display: flex;
        gap: vc(20);
        align-items: center;

        p {
            width: vc(78);
            height: vc(28);
            font-weight: 500;
            font-size: vc(24);
            line-height: vc(28);
            color: $color-orange;
        }
    }
}
