mixin cases ()
    .cases
        .container
            .cases__case
                h2 Наши кейсы
                +picture({
                    path: `${baseDir}assets/images/cases/image3`,
                    ext: `png`,
                })

            .cases__works
                +picture({
                    path: `${baseDir}assets/images/cases/name-work`,
                    ext: `png`,
                })
                .cases__works_work
                    h3 Название работы
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .cases__swipper
                .cases__swipper_icon1
                    +svg("swiper-left-arrow")
                .cases__swipper_icon2
                    +svg("swiper-right-arrow")
