.cases{

    .container {
        margin-top: vc(75);
        display: flex;
        align-items: flex-start;
    }

    &__case {

        h2 {
            font-style: normal;
            font-weight: 700;
            font-size: vc(48);
            color: $color-white;
            width: vc(425);
            height: vc(58);
            margin-right: vc(78);
        }

        img {
            width: vc(130);
            height: vc(198);
            position: absolute;
            left: vc(30);

        }
    }

    &__works {
        display: flex;
        margin-top: vc(39);
        background: rgba(49, 35, 35, 0.6);
        border: vc(3) solid #1D0B0B;
        border-radius: vc(20);
        padding-left: vc(20);
        padding-top: vc(20);
        width: vc(632);
        height: vc(290);

        img {
            width: vc(191);
            height: vc(182);
        }

        &_work {
            display: flex;
            flex-direction: column;
            margin-left: vc(21);
            gap: vc(11);

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: vc(24);
                line-height: vc(29);
                color: $color-white;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: vc(14);
                line-height: vc(21);
                color: $color-white;
                padding-right: vc(27);
                padding-bottom: vc(35);
            }
        }
    }

    &__swipper {
        width: vc(266);
        height: vc(162);
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: vc(210);
        left: vc(195);

        &_icon1 {
            width: vc(83);
            height: vc(83);
            background: rgba(55, 39, 40, 0.6);
            border: vc(2) solid #F3C934;
            border-radius: 100%;
            margin-right: vc(30);

            svg {
                position: relative;
                width: vc(68);
                height: vc(50);
                top: vc(15);
                left: vc(5);
            }
        }

        &_icon2 {
            width: vc(83);
            height: vc(83);
            background: rgba(55, 39, 40, 0.6);
            border: vc(2) solid #F3C934;
            border-radius: 100%;

            svg {
                position: relative;
                width: vc(68);
                height: vc(50);
                top: vc(15);
                left: vc(5);
            }
        }
    }
}
