.cases {
    @include devices {
        margin-top: vc(35);
    }

    .container {
        display: flex;
        justify-content: space-between;

        @include devices {
            flex-direction: column;
        }
    }

    &__case {
        .h2 {
            width: vc(425);
            margin-right: vc(78);

            @include devices {
                width: 100%;
            }
        }

        img {
            width: vc(130);
            height: vc(198);
            position: absolute;
            left: vc(30);
        }
    }

    &__swipper {
        width: vc(266);
        height: vc(162);
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: vc(125);
        left: vc(220);

        &_icon1 {
            width: vc(83);
            height: vc(83);
            background: rgba(55, 39, 40, 0.6);
            border: vc(2) solid #F3C934;
            border-radius: 100%;
            margin-right: vc(30);

            svg {
                position: relative;
                width: vc(68);
                height: vc(50);
                top: vc(15);
                left: vc(5);
            }
        }

        &_icon2 {
            width: vc(83);
            height: vc(83);
            background: rgba(55, 39, 40, 0.6);
            border: vc(2) solid #F3C934;
            border-radius: 100%;

            svg {
                position: relative;
                width: vc(68);
                height: vc(50);
                top: vc(15);
                left: vc(5);
            }
        }
    }

    &__works {
        display: flex;
        background: rgba(49, 35, 35, 0.6);
        border: vc(3) solid #1D0B0B;
        border-radius: vc(20);
        padding-left: vc(20);
        padding-top: vc(20);

        @include devices {
            border: none;
            background: none;
            padding: 0;
            margin-top: vc(10);
            gap: vc(17);
        }

        img {
            width: vc(191);
            height: vc(182);

            @include devices {
                width: vc(100);
                height: vc(95);
            }
        }

        &_work {
            display: flex;
            flex-direction: column;
            margin-left: vc(21);
            gap: vc(11);

            @include devices {
                margin: 0;
                gap: vc(10);
            }

            h3 {
                font-weight: 700;
                font-size: vc(24);
                line-height: vc(29);
                color: $color-white;

                @include devices {
                    font-weight: 500;
                    font-size: vc(16);
                    line-height: vc(19);
                }
            }

            p {
                font-weight: 400;
                font-size: vc(14);
                line-height: vc(21);
                color: $color-white;
                padding-right: vc(27);
                padding-bottom: vc(35);

                @include devices {
                    font-weight: 400;
                    font-size: vc(10);
                    line-height: vc(14);
                    overflow: hidden;
                    padding: 0;
                    max-height: vc(60);
                }
            }
        }
    }

    @include devices {
        &__markers {
            margin-top: vc(10);
            display: flex;
            justify-content: center;
            gap: vc(10);

            &_marker {
                width: vc(12);
                height: vc(12);
                border-radius: 100%;
                background-color: $color-white;
            }
        }
    }
}
