mixin scholl()
    .scholl
        .container
            .scholl__online
                h2.h2 Онлайн школа
            .scholl__service
                +scholl-icons("director", "01", "Сам себе режиссер")
                +scholl-icons("take-a-photo", "02", "Раз, два, три и ты фотобог")
                +scholl-icons("shared-vision", "03", "Рилс на миллион просмотров")
                +scholl-icons("reels", "04", "Как снять вирусное видео")
                +scholl-icons("reading-book", "05", "Захватывающий сторитейлинг")
