.review {
	position: relative;
	padding-bottom: vc(60);

	&__infos {
		border-radius: vc(10);
		box-shadow: 0 0 vc(14) rgba(0, 0, 0, 0.15);
		background: #1e1516;

		&_img1 {
			position: absolute;
			left: 50%;
			top: vc(15);
			transform: translateX(-50%);
		}

		&_img2 {
			position: absolute;
			left: 50%;
			bottom: vc(25);
			overflow: hidden;
			border-radius: 100%;
			width: vc(58);
			height: vc(58);
			transform: translateX(-50%);

			@include devices {
				bottom: vc(15);
			}
		}

		&_svg2 {
			position: absolute;
			left: 49%;
			bottom: vc(-15);
			z-index: -1;
			transform: translateX(-50%);

			svg {
				fill: #1e1516;
			}

			@include devices {
				bottom: vc(-20);
			}
		}

		&_info {
			display: flex;
			flex-direction: column;
			padding: vc(38) vc(33);
			gap: vc(20);

			p {
				font-size: vc(14);
				line-height: vc(21);
				text-align: center;
			}

			h3 {
				position: relative;
				display: inline-flex;
				align-self: center;
				font-weight: 700;
				font-size: vc(16);
				line-height: vc(22);
				text-align: center;
				color: $color-white;

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 50%;
					width: vc(10);
					height: vc(1);
					background-color: #29aae3;
					transform: translateY(-50%);
				}

				&::before {
					right: vc(-25);
				}

				&::after {
					left: vc(-25);
				}
			}
		}
	}
}
