.project {

    .container {
        margin-top: vc(120);
        display: flex;
        flex-direction: column;

    }

    &__our {

        h2 {
            font-style: normal;
            font-weight: 700;
            font-size: vc(48);
            color: $color-white;
        }
    }

    &__projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0 vc(37);
        grid-template-areas: ". . .";
        margin-top: vc(40);
    }
}
