mixin project()
    .project
        .container
            .project__our
                h2 Наши проекты
            .project__projects
                +projects(`${baseDir}assets/images/projects/Frame14`, 'Название проекта', '1 500 Р')
                +projects(`${baseDir}assets/images/projects/Frame15`, 'Название проекта', '1 500 Р')
                +projects(`${baseDir}assets/images/projects/Frame16`, 'Название проекта', '1 500 Р')
