.project {
    margin-top: vc(120);

    @include devices {
        margin-top: vc(40);
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    &__our {
        margin-bottom: vc(40);

        @include devices {
            margin-bottom: vc(20);
        }

        h2 {
            @include devices {
                width: 100%;
            }
        }
    }

    &__projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0 vc(37);
        grid-template-areas: ". . .";

        @include devices {
            gap: 0 vc(7);
            overflow: hidden;
        }
    }

    @include devices {

        &__markers {
            margin-top: vc(20);
            display: flex;
            justify-content: center;
            gap: vc(10);

            &_marker {
                width: vc(12);
                height: vc(12);
                border-radius: 100%;
                background-color: $color-white;
            }
        }
    }
}
