.text {
	margin-top: vc(70);
	margin-bottom: vc(100);

	.container {
		display: flex;
		flex-direction: column;
		gap: vc(30);

		@include devices {
			gap: vc(28);
		}
	}

	@include devices {
		margin-top: vc(40);
		margin-bottom: vc(40);
	}
}
