.questions {
	.container {
		margin-top: vc(100);
		border: vc(3) solid #1d0b0b;
		border-radius: vc(20);
		background: rgba(49, 35, 35, 0.6);

		@include devices {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-top: vc(40);
			max-width: vc(360);
		}
	}

	&__title {
		margin-top: vc(60);

		h2 {
			font-weight: 500;
			font-size: vc(36);
			text-align: center;
			color: $color-white;

			@include devices {
				width: 100%;
				font-size: vc(20);
			}
		}

		@include devices {
			margin-top: vc(40);
		}
	}

	&__feelds {
		display: flex;
		justify-content: center;
		margin-top: vc(32);
		gap: vc(20);

		input {
			border: none;
			border-radius: vc(90);
			padding: vc(16) vc(30);
			width: vc(265);
			height: vc(50);
			font-family: $font-primary;
			font-weight: 400;
			font-size: vc(14);
			line-height: vc(16);
			color: #09091c;
			background: $color-white;

			&::placeholder {
				color: #09091c;
			}

			@include devices {
				width: vc(292);
			}
		}

		.button {
			display: flex;
			border-radius: vc(90);
			padding: vc(15) vc(91) vc(16) vc(91);
			font-weight: 700;
			font-size: vc(16);
			line-height: vc(19);
			text-align: center;

			&__primary {
				color: $color-black;
				background: $color-orange;
			}

			@include devices {
				padding: vc(15) vc(104);
			}
		}

		@include devices {
			flex-direction: column;
			margin-top: vc(30);
		}
	}

	&__social {
		display: flex;
		justify-content: center;
		margin-top: vc(30);
		margin-bottom: vc(59);
		gap: vc(49);

		&-item {
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: vc(20);
			line-height: vc(23);
			color: $color-white;

			a {
				&:hover {
					text-decoration: underline;
				}
			}

			svg {
				flex-shrink: 0;
				margin-right: vc(20);
				width: vc(24);
				height: vc(24);

				@include devices {
					margin-right: vc(10);
					width: vc(32);
					height: vc(32);
				}
			}

			&.whatsapp {
				color: #26d52d;
			}

			@include devices {
				align-items: center;
				max-width: vc(212);
				font-size: vc(13);
				line-height: 1;
			}
		}

		@include devices {
			flex-direction: column;
			margin-top: vc(20);
			margin-bottom: vc(40);
			gap: vc(12);
		}
	}
}
