.questions {

    .container {
        margin-top: vc(100);
        background: rgba(49, 35, 35, 0.6);
        border: vc(3) solid #1D0B0B;
        border-radius: vc(20);
    }

    &__title {
        margin-top: vc(60);

        h2 {
            font-weight: 500;
            font-size: vc(36);
            line-height: vc(42);
            text-align: center;
            color: $color-white;
        }
    }

    &__feelds {
        margin-top: vc(32);
        justify-content: center;
        gap: vc(20);
        display: flex;

        &_name {

            input {
                width: vc(265);
                height: vc(50);
                background: $color-white;
                border-radius: vc(90);

                &::placeholder {
                    font-weight: 400;
                    font-size: vc(14);
                    line-height: vc(16);
                    color: #09091C;
                    text-align: center;
                }
            }
        }

        &_namber {

            input {
                width: vc(265);
                height: vc(50);
                background: $color-white;
                border-radius: vc(90);

                &::placeholder {
                    font-weight: 400;
                    font-size: vc(14);
                    line-height: vc(16);
                    color: #09091C;
                    text-align: center;
                }
            }
        }

        &_send {

            .button {
                display: flex;
                border-radius: vc(90);
                font-weight: 700;
                font-size: vc(16);
                line-height: vc(19);
                text-align: center;
                padding: vc(15) vc(91) vc(16) vc(91);

                &__primary {
                    background: $color-orange;
                    color: $color-black;
                }
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: vc(49);
        margin-top: vc(30);
        margin-bottom: vc(59);

        &_pfone {
            display: flex;


            svg {
                width: vc(24);
                height: vc(24);
                margin-right: vc(20);
            }

            p {
                font-weight: 400;
                font-size: vc(20);
                line-height: vc(23);
                color: $color-white;
                margin-right: vc(7);
            }

            a {
                font-weight: 400;
                font-size: vc(20);
                line-height: vc(23);
                color: $color-white;
                transition: $transition;

                &:hover {
                text-decoration: underline;
                }
            }
        }

        &_watsup {
            display: flex;

            svg {
                width: vc(24);
                height: vc(24);
                margin-right: vc(10);
            }

            a {
                font-weight: 400;
                font-size: vc(16);
                line-height: vc(19);
                color: #26D52D;
                transition: $transition;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
