mixin questions()
	.questions
		.container
			.questions__title
				h2 Остались вопросы? Оставьте данные и мы перезвоним
			.questions__feelds
				input(type="text" placeholder="Ваше имя")
				input(type="phone" placeholder="Номер телефона")
				+button("Отправить", "#")
			.questions__social
				.questions__social-item
					+svg("pfone")
					p или позвоните нам по номеру #[a(href="#") +7(495) 331 33 67]
				.questions__social-item.whatsapp
					+svg("whatsapp")
					a(href="#") Мы в WhatsApp
