.advantages {
    display: flex;
    margin-top: vc(122);

    @include devices {
        margin-top: vc(40);
    }

    .container {
        display: flex;
        justify-content: space-between;

        @include devices {
            flex-direction: column;
            gap: vc(20);
        }
    }

    &__title {
        .h2 {
            max-width: vc(335);

            @include devices {
                width: 100%;
            }
        }
    }

    &__icons {
        display: flex;
        gap: vc(40);
        margin-left: vc(80);
    }

    @include devices {
        &__services {

            &_service1 {
                display: flex;
                gap: vc(16);
                margin-bottom: vc(30);
            }

            &_service2 {
                display: flex;
                justify-content: center;
                gap: vc(58);
            }
        }
    }
}
