.advantages {
    display: flex;
    margin-top: vc(122);

    &__row {
        display: flex;
        justify-content: space-between;
        gap: vc(70);

        @include devices {
            flex-direction: column;
            gap: vc(20);
        }
    }

    &__title {
        .h2 {
            max-width: vc(335);

            @include devices {
                width: 100%;
            }
        }
    }

    @include devices {
        margin-top: vc(40);
    }
}
