mixin advantages()
    .advantages
        .container
            .advantages__title
                h2.h2 Наши преимущества
            .advantages__icons.for-desktop
                +scholl-icons("director", "01", "Какое то преимущество")
                +scholl-icons("shared-vision", "03", "Какое то преимущество")
                +scholl-icons("reels", "04", "Какое то преимущество")
                +scholl-icons("reading-book", "05", "Какое то преимущество")
            .advantages__services.for-devices
                .advantages__services_service1
                    +scholl-icons("director", "01", "Сам себе режиссер")
                    +scholl-icons("take-a-photo", "02", "Раз, два, три и ты фотобог")
                    +scholl-icons("shared-vision", "03", "Рилс на миллион просмотров")
                .advantages__services_service2
                    +scholl-icons("reels", "04", "Как снять вирусное видео")
                    +scholl-icons("reading-book", "05", "Захватывающий сторитейлинг")
