mixin advantages()
    .advantages
        .container
            .advantages__title
                h2 Наши преимущества
            .advantages__icons
                +scholl-icons("director", "01", "Какое то преимущество")
                +scholl-icons("shared-vision", "03", "Какое то преимущество")
                +scholl-icons("reels", "04", "Какое то преимущество")
                +scholl-icons("reading-book", "05", "Какое то преимущество")
