mixin services-mob()
    .services-mob
        //.services-mob__title
        //    h2 Наши услуги
        //.services-mob__menu
        //    .services-mob__menu_item
        //        p Идея
        //    .services-mob__menu_item
        //        p Видео
        //    .services-mob__menu_item
        //        p Фото
        //    .services-mob__menu_item
        //        p Аудио
        //    .services-mob__menu_item
        //        p Текст
        //    .services-mob__menu_item
        //        p Печатня

