mixin reviews()
    .reviews
        .container
            .reviews__title
                h2 Отзывы клиентов
            .reviews__info
                +review()
                +review()
                +review()
