.reviews {
	margin-top: vc(100);
	margin-bottom: vc(110);

	&__title {
		margin-bottom: vc(30);

		.h2 {
			@include devices {
				width: 100%;
			}
		}
	}

	@include devices {
		margin-top: vc(40);
		margin-bottom: vc(0);
	}

	@include devices {
		&__markers {
			display: flex;
			justify-content: center;
			margin-top: vc(80);
			gap: vc(10);

			&_marker {
				border-radius: 100%;
				width: vc(12);
				height: vc(12);
				background-color: $color-white;

				&-active {
					background-color: #f3c934;
				}
			}
		}
	}
}
