mixin reviews()
	.reviews
		.container
			.reviews__title
				h2.h2 Отзывы клиентов
			.reviews__infos
				.swiper
					.swiper-wrapper
						.swiper-slide
							+review()
						.swiper-slide
							+review()
						.swiper-slide
							+review()
						.swiper-slide
							+review()
				.reviews__markers
					.reviews__markers_marker
					.reviews__markers_marker
					.reviews__markers_marker
					.reviews__markers_marker
