.about-service {
	margin-top: vc(163);
	margin-bottom: vc(110);

	&__row {
		display: grid;
		grid-template: auto 2fr / 1fr 1fr;
		grid-template-areas:
			"img title"
			"img text";
		gap: vc(20) vc(40);

		+ .about-service__row {
			margin-top: vc(50);

			@include devices {
				margin-top: vc(20);
			}
		}

		&.right-img {
			grid-template-areas:
				"title img"
				"text img";
		}

		@include devices {
			grid-template: 1fr / 1fr;
			grid-template-areas:
				"title"
				"img"
				"text";
			gap: vc(10);
		}
	}

	&__img {
		flex-shrink: 0;
		grid-area: img;
		width: 100%;

		img {
			border: vc(3) solid #1d0b0b;
			border-radius: vc(20);
			background: #312323;
		}
	}

	&__title {
		grid-area: title;
	}

	&__text {
		display: flex;
		flex-direction: column;
		grid-area: text;
		gap: vc(24);

		@include devices {
			gap: vc(20);
		}
	}

	@include devices {
		margin-top: vc(40);
		margin-bottom: vc(40);
	}
}
