.about-service {
    margin-top: vc(163);
    margin-bottom: vc(110);

    @include devices {
        margin-top: vc(40);
        margin-bottom: vc(40);
    }

    .container {
        display: flex;
        gap: vc(40);
    }

    &__img {
        flex-shrink: 0;
        width: vc(507);
        height: vc(493);

        img {
            background: #312323;
            border: vc(3) solid #1D0B0B;
            border-radius: vc(20);
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: vc(30);

        h2 {
            font-weight: 700;
            font-size: vc(48);
            line-height: vc(58);
            color: $color-white;
        }

        p {
            font-weight: 400;
            font-size: vc(16);
            line-height: 149%;
            color: $color-white;

        }
    }

    @include devices {
        &__info {
            display: flex;
            flex-direction: column;
            gap: vc(20);

            .h2 {
                width: 100%;
            }

            img {
                width: vc(360);
                height: vc(289);
                background: #312323;
                border: vc(3) solid #1D0B0B;
                border-radius: vc(20);
            }

            p {
                font-weight: 400;
                font-size: vc(13);
                line-height: 149%;
                color: $color-white;
            }
        }
    }
}
