.about-service {
    margin-top: vc(163);
    margin-bottom: vc(110);

    .container {
        display: flex;
        gap: vc(40);
    }

    &__img {
        flex-shrink: 0;
        width: vc(507);
        height: vc(493);


        img {
            background: #312323;
            border: 3px solid #1D0B0B;
            border-radius: 20px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: vc(30);

        h2 {
            font-weight: 700;
            font-size: vc(48);
            line-height: vc(58);
            color: $color-white;
        }

        p {
            font-weight: 400;
            font-size: vc(16);
            line-height: 149%;
            color: $color-white;

        }
    }
}
