.button2 {
    width: vc(236);
    height: vc(56);
    background: $color-orange;
    border-radius: vc(0) vc(0) vc(10) vc(10);
    position: relative;
    top: vc(165);
    left: vc(20);

    &__link {
        font-style: normal;
        font-weight: 700;
        font-size: vc(24);
        line-height: vc(29);
        color: $color-black;
        position: relative;
        top: vc(10);
        margin-left: vc(15);
    }
}
