.h2 {
    font-weight: 700;
    font-size: vc(48);
    line-height: vc(58);
    color: $color-white;

    @include devices {
        font-size: vc(20);
        line-height: vc(24);
    }
}

.h3 {
    font-weight: 700;
    font-size: vc(24);
    line-height: vc(29);
    color: $color-white;

    @include devices {
        font-weight: 500;
        font-size: vc(16);
        line-height: vc(19);
    }
}
