mixin links
    .links
        .container
            .links__link
                .links__link_main
                    a(href="index.html") Главная
                .links__link_svg
                    +svg("arrow-link")
                .links__link_crumbs
                    a(href="#") Хлебные крошки
