include mixins/picture
include mixins/svg

include @components/header/header
include @components/services/services
include @components/exposure/exposure
include @components/cases/cases
include @components/scholl/scholl
include @components/project/project
include @components/projects/projects
include @components/button/button
include @components/about-company/about-company
include @components/company-icons/company-icons
include @components/partners/partners
include @components/footer/footer
include @components/links/links
include @components/names-category/names-category
include @components/page-info/page-info
include @components/advantages/advantages
include @components/beginning/beginning
include @components/reviews/reviews
include @components/review/review
include @components/about-service/about-service
include @components/product-info/product-info
include @components/questions/questions
include @components/text/text
