include mixins/picture
include mixins/svg

include @components/category/category
include @components/header/header
include @components/services/services
include @components/exposure/exposure
include @components/cases/cases
include @components/scholl/scholl
include @components/scholl-icons/scholl-icons
include @components/project/project
include @components/projects/projects
include @components/button/button
include @components/about-company/about-company
include @components/company-icons/company-icons
include @components/partners/partners
include @components/slider/slider
include @components/footer/footer
include @components/links/links
include @components/names-category/names-category
