mixin page-info(data)
	.page-info
		.container
			.page-info__box
				.page-info__title
					h1.h2!= data.title
				.page-info__text
					p!= data.text
				.page-info__img
					+picture({
						path: `${baseDir}assets/images/pages/${data.img}`,
						ext: `png`,
					})
