.page-info {
	display: flex;
	justify-content: space-between;
	margin-top: vc(40);
	margin-bottom: vc(102);

	.container {
		display: flex;
		justify-content: space-between;
		gap: vc(50);

		@include devices {
			flex-direction: column;
			margin-top: vc(28);
			gap: vc(10);
		}
	}

	&__box {
		display: grid;
		grid-template: auto 2fr / 1fr vc(746);
		grid-template-areas:
			"title img"
			"text img";
		gap: vc(30) vc(50);

		@include devices {
			grid-template: 1fr / 1fr;
			grid-template-areas:
				"title"
				"img"
				"text";
			gap: vc(10);
		}
	}

	&__title {
		grid-area: title;
	}

	&__text {
		grid-area: text;
		color: $color-white;
	}

	&__img {
		grid-area: img;
		width: 100%;

		img {
			border: vc(3) solid #1d0b0b;
			border-radius: vc(20);
			background: #312323;
		}
	}

	@include devices {
		margin: 0;
	}
}
