.product-info {
	position: relative;
	margin: vc(40) 0 vc(60);

	&__row {
		position: relative;
		display: grid;
		grid-template: auto 2fr / minmax(0, auto) minmax(0, auto);
		grid-template-areas:
			"img title"
			"img info";
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		gap: vc(30) vc(50);

		@include devices {
			grid-template: minmax(0, auto) / minmax(0, auto);
			grid-template-areas:
				"title"
				"img"
				"info";
			gap: vc(10);
		}
	}

	&__img {
		grid-area: img;

		&_main {
			position: relative;
			margin-bottom: vc(21);

			.image {
				overflow: hidden;
				border: vc(3) solid #1d0b0b;
				border-radius: vc(20);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_secondary {
			position: relative;
			display: flex;
			width: calc(100% + #{vc(15)});

			.swiper {
				width: 100%;

				&-slide {
					opacity: 0.5;
					transition: opacity $transition;

					&-thumb {
						&-active {
							opacity: 1;
						}
					}
				}
			}

			.image {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				margin-right: vc(15);
				border: vc(3) solid #1d0b0b;
				border-radius: vc(20);
				height: vc(105);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				@include devices {
					border: vc(2) solid #1d0b0b;
					border-radius: vc(5);
				}
			}
		}
	}

	&__title {
		grid-area: title;
	}

	&__info {
		display: flex;
		flex-direction: column;
		grid-area: info;
	}

	&__abilities {
		display: flex;
		border-bottom: vc(1) solid #c1c1c1;
		padding-bottom: vc(20);
		gap: vc(40);

		&-price {
			display: flex;
			flex-direction: column;
			gap: vc(5);

			p {
				font-weight: 500;
				font-size: vc(20);
				line-height: vc(24);
				color: $color-white;

				@include devices {
					font-size: vc(16);
					line-height: vc(19);
				}
			}

			h3 {
				font-weight: 700;
				font-size: vc(32);
				line-height: vc(39);
				color: $color-orange;

				@include devices {
					font-size: vc(26);
					line-height: vc(31);
				}
			}
		}

		&-data {
			display: flex;
			flex-direction: column;
			gap: vc(5);

			p {
				font-weight: 500;
				font-size: vc(20);
				line-height: vc(24);
				color: $color-white;

				@include devices {
					font-size: vc(16);
					line-height: vc(19);
				}
			}

			h3 {
				font-weight: 700;
				font-size: vc(32);
				line-height: vc(39);
				color: $color-orange;

				@include devices {
					font-size: vc(26);
					line-height: vc(31);
				}
			}
		}

		@include devices {
			margin-top: vc(20);
		}
	}

	&__description {
		margin-bottom: vc(20);
		max-width: vc(515);

		h3 {
			margin-top: vc(20);
			margin-bottom: vc(10);
			font-weight: 500;
			font-size: vc(20);
			line-height: vc(24);
			color: $color-white;

			@include devices {
				font-size: vc(16);
				line-height: vc(19);
			}
		}

		p {
			font-weight: 400;
			font-size: vc(13);
			line-height: 149%;
			color: $color-white;

			@include devices {
				font-size: vc(13);
			}
		}
	}

	&__payment {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: vc(1) solid #c1c1c1;
		padding-top: vc(20);

		&-way {
			display: flex;
			flex-direction: column;
			gap: vc(10);

			p {
				font-weight: 500;
				font-size: vc(20);
				line-height: vc(24);
				color: $color-white;

				@include devices {
					font-size: vc(16);
					line-height: vc(19);
				}
			}

			img {
				width: vc(156);
				height: vc(28);

				@include devices {
					width: vc(128);
					height: vc(23);
				}
			}

			@include devices {
				gap: vc(5);
			}
		}

		&-logos {
			display: flex;
			height: vc(23);
			max-width: vc(170);
		}

		&-order {
			a {
				font-weight: 600;
				font-size: vc(16);
				line-height: vc(19);

				@include devices {
					font-size: vc(13);
					line-height: vc(16);
				}
			}
		}
	}

	@include devices {
		margin: 0 0 vc(40);
	}
}
