mixin company-icons(icon, name)
    .icons
        .icons__img
            +picture({
                path: icon,
                ext: `png`,
            })(icon)
        if name
            p.icons__p!= name
