mixin company-icons(icon, title, name)
    .company-icons
        .company-icons__img
            +picture({
                path: icon,
                ext: `png`,
            })(icon)
        .company-icons__title
            h3!=title
        .company-icons__name
            p!= name
