mixin company-icons(icon, title, name)
    a(href="#").company-icons
        .company-icons__img
            +picture({
                path: icon,
                ext: `png`,
            })(icon)
            if title
                .company-icons__title
                    h3!=title
        .company-icons__name.for-desktop
            p!= name
