// .сompany-icons
.icons {
    position: relative;

    &__img {
        z-index: -1;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to top, #342E30 0%, transparent 40%);
        }

        img {
            width: 100%;
            height: auto;
            border-radius: vc(10);

        }
    }

    &__p {
        position: absolute;
        max-width: vc(185);
        bottom: vc(30);
        left: vc(25);
        font-style: normal;
        font-weight: 500;
        font-size: vc(16);
        line-height: vc(19);
        color: $color-white;
    }
}
