extends @pug/base

append globals
    - pageName = 'home'
    - title = data[pageName]?.meta?.title ?? data.general.title
    - description = data[pageName]?.meta?.description ?? data.general.description
    - image = data[pageName]?.meta?.image ?? data.general.image

append vars
    - meta.keywords = data[pageName]?.meta?.keywords ?? data.general.keywords

    each linkValue, linkKey in data.general.link
        - link[linkKey] = linkValue

    each metaValue, metaKey in data.general.meta
        - meta[metaKey] = metaValue
    - body.classList = 'bg-image'

block content
    +header()
    main
        +services()
        +cases()
        +scholl()
        +project()
        +about-company()
        +partners()
    footer
        +footer()
        //+exposure("telephone", "Телефон:", "+7(495) 331 33 67", "#")
