.text-bloks {
    margin-top: vc(110);
    margin-bottom: vc(128);

    .container {
        display: flex;
        flex-direction: column;
        gap: vc(64);
    }

    &__info1 {
        display: flex;
        gap: vc(57);
        max-height: vc(511);

        &_title {
            display: flex;
            flex-direction: column;
            gap: vc(55);
            max-width: vc(507);

            h2 {
                font-weight: 700;
                font-size: vc(48);
                line-height: vc(58);
                color: $color-white;
            }

            p {
                font-weight: 400;
                font-size: vc(16);
                line-height: 149%;
                color: $color-white;

            }
        }

        &_img {
            width: vc(607);
            height: vc(412);


            img {
                background: #312323;
                border: vc(3) solid #1D0B0B;
                border-radius: vc(20);
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }

    &__info2 {
        display: flex;
        gap: vc(52);

        &_img {
            width: vc(607);
            height: vc(412);

            img {
                background: #312323;
                border: vc(3) solid #1D0B0B;
                border-radius: vc(20);
                max-width: 100%;
                max-height: 100%;
            }
        }

        &_title {

            p {
                font-weight: 400;
                font-size: vc(16);
                line-height: 149%;
                color: $color-white;
                max-width: vc(507);

            }
        }
    }
}
