.filming{

    .container {
        margin: 0 auto;
        width: vc(1170);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-top: vc(40);

        &_title {
            display: flex;
            flex-direction: column;
            gap: vc(30);
            max-width: vc(375);

            h2 {
                font-weight: 700;
                font-size: vc(48);
                line-height: vc(58);
                color: $color-white;
            }

            p {
                font-weight: 400;
                font-size: vc(16);
                line-height: 149%;
                color: $color-white;

            }
        }

        &_img {
            width: vc(747);
            height: vc(493);
        }
    }

    &__cases {
        margin-top: vc(102);
    }

    &__advantages {
        display: flex;
        margin-top: vc(122);

        h2 {
            font-weight: 700;
            font-size: vc(48);
            line-height: vc(58);
            color: $color-white;
            max-width: vc(335);
        }

        &_icons {
            display: flex;
            gap: vc(40);
            margin-left: vc(80);
        }
    }

    &__stages {

        h2 {
            font-weight: 700;
            font-size: vc(48);
            line-height: vc(58);
            color: $color-white;
            margin-top: vc(100);
            margin-bottom: vc(30);
        }
        &_stage {

        }
    }
}
