mixin header
    header.header
        .container
            .header__logo
                +picture({
                    path: `${baseDir}assets/images/header/logo`,
                    ext: `png`,
                })
            .header__socials
                a(href="#").header__social
                    +svg("watsup")
                a(href="#").header__social
                    +svg("telegram")
                a(href="#").header__social
                    +svg("vk")
                a(href="#").header__social
                    +svg("tiktok")
                a(href="#").header__social
                    +svg("youtube")
                a(href="#").header__social
                    +svg("rutube")
            .header__contacts
                +exposure("email", "E-mail", "example@gmail.com", "mailto:example@gmail.com")
                +exposure("telephone", "Телефон:", "+7(495) 331 33 67", "#")
