.header {
    top: vc(31);
    width: 100%;
    position: absolute;
    z-index: 1;

    @include devices {
        margin-top: vc(15);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: vc(349);
        height: vc(22);

        @include devices {
            width: vc(186);
            height: vc(12);
        }
    }

    &__socials {
        display: flex;
        gap: vc(13);
    }

    &__social {
        width: vc(37);
        height: vc(37);

        svg {
            transition: $transition;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__contacts {
        display: flex;
        gap: vc(40);
    }

    @include devices {
        &__menu {
            width: vc(21);
            height: vc(15);
            background-color: #26D52D;
        }
    }
}
