.header {
    position: absolute;
    top: vc(31);
    z-index: 1;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: vc(349);
        height: vc(22);

        @include devices {
            width: vc(186);
            height: vc(12);
        }
    }

    &__socials {
        display: flex;
        gap: vc(13);
    }

    &__social {
        width: vc(37);
        height: vc(37);

        svg {
            transition: $transition;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__contacts {
        display: flex;
        gap: vc(40);
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: vc(21);
        height: vc(15);
        gap: vc(3);

        span {
            border-radius: vc(3);
            width: 100%;
            height: vc(3);
            background-color: $color-orange;
        }
    }

    @include devices {
        top: vc(16);
    }
}
