.partners {
    margin-top: vc(100);

    @include devices {
        margin-top: vc(40);
    }

    .container {}

    &__title {

        h2 {
            @include devices {
                width: 100%;
            }
        }
    }
}
