.footer {
    background: #251A1A;

    .container {
        margin: 0 auto;
        width: vc(1170);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: vc(35);

        &_logo {
            width: vc(263);
            height: vc(17);
            margin-top: vc(5);

            picture {
                width: 100%;
                height: 100%;
            }
        }

        &_sections {
            width: vc(316);
            height: vc(110);


            h3 {
                font-weight: 700;
                font-size: vc(24);
                line-height: vc(29);
                color: $color-white;
            }
            &-section {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 26px 50px;
                grid-template-areas: ". . ." ". . .";
                margin-top: vc(20);

                p {
                    font-weight: 400;
                    font-size: vc(20);
                    line-height: vc(23);
                    color: $color-white;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                        transition: $transition;
                    }
                }
            }
        }

        &_contacts {
            width: vc(447);
            height: vc(84);


            h3 {
                font-weight: 700;
                font-size: vc(24);
                line-height: vc(29);
                color: $color-white;
            }

            &-contact {
                display: flex;
                gap: vc(30);
                margin-top: vc(24);
            }
        }
    }



    &__copyrite {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: vc(40);

        p {
            font-weight: 500;
            font-size: vc(14);
            line-height: vc(16);
            text-align: center;
            color: $color-white;
            position: relative;
            margin-top: vc(20);
            padding-bottom: vc(20);
        }
    }
}
