.about-company {
	margin-top: vc(100);

	&__about {
		display: flex;
		justify-content: space-between;
		margin-bottom: vc(49);
		gap: vc(96);

		@include devices {
			flex-direction: column;
			margin-bottom: vc(20);
			gap: vc(10);
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		gap: vc(38);
	}

	&__items {
		display: grid;
		grid-template: 1fr 1fr / 1fr 1fr 1fr;
		grid-template-areas: ". . .";
		gap: vc(21) vc(25);

		@include devices {
			grid-template: 1fr 1fr / 1fr 1fr;
			grid-template-areas: ". .";
			gap: vc(20) vc(7);
		}
	}

	@include devices {
		margin-top: vc(40);
	}
}
