.about-company {
    margin-top: vc(100);

    @include devices {
        margin-top: vc(40);
    }

    .container {}

    &__about {
        margin-bottom: vc(49);
        display: flex;
        justify-content: space-between;

        @include devices {
            flex-direction: column;
            gap: vc(10);
            margin-bottom: vc(20);
        }

        .h2 {
            margin-right: vc(96);

            @include devices {
                width: 100%;
            }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: vc(18);
            line-height: 149%;
            color: $color-white;

            @include devices {
                font-size: vc(12);
            }
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: vc(38);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: vc(21) vc(25);
        grid-template-areas:
        ". . ."
        ". . .";

        @include devices {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: vc(20) vc(7);
            grid-template-areas:
            ". ."
            ". ."
            ". .";
        }
    }
}
