.about-company {
    margin-top: vc(120);

    .container {
        margin: 0 auto;
        width: vc(1172);
    }

    &__about {
        margin-bottom: vc(49);
        display: flex;
        justify-content: space-between;
        height: vc(116);

        h2 {
            font-weight: 700;
            font-size: vc(48);
            color: $color-white;
            margin-right: vc(96);
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: vc(18);
            line-height: 149%;
            color: $color-white;

        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: vc(38);
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 21px 25px;
        grid-template-areas:
        ". . ."
        ". . .";
    }
}
