.slider {
    margin-top: vc(40);

    @include devices {
        margin-top: vc(10);
    }

    .container {}

    &__logos {
        margin-bottom: vc(41);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include devices {
            margin-bottom: vc(10);
            gap: vc(11);
        }

        &_logo {
            width: vc(272);
            height: vc(116);
            background: rgba(49, 35, 35, 0.6);
            border: vc(3) solid #1D0B0B;
            border-radius: vc(20);
            filter: grayscale(100%);
            transition: $transition;

            @include devices {
                width: vc(113);
                height: vc(48);
                border-radius: vc(5);
                border: vc(1) solid #1D0B0B;
            }

            p {
                position: relative;
                font-weight: 400;
                font-size: vc(40);
                line-height: vc(46);
                top: vc(35);
                left: vc(77);
                color: #919191;

                @include devices {
                    font-size: vc(16);
                    line-height: vc(19);
                    top: vc(14);
                    left: vc(14);
                }
            }

            &:hover {
                filter: grayscale(0);

                p {
                    color: $color-orange;
                }
            }
        }
    }

    &__markers {
        display: flex;
        justify-content: center;
        gap: vc(22);
        margin-bottom: vc(95);

        &_marker {
            width: vc(22);
            height: vc(22);
            border-radius: 100%;
            background-color: $color-white;
            transition: $transition;

            &:hover {
                background-color: $color-orange;
            }
        }
    }

    @include devices {

        &__markers {
            margin-top: vc(10);
            display: flex;
            justify-content: center;
            gap: vc(10);
            margin-bottom: vc(40);

            &_marker {
                width: vc(12);
                height: vc(12);
                border-radius: 100%;
                background-color: $color-white;
            }
        }
    }
}
