mixin slider()
    .slider
        .container
            .slider__logos
                .slider__logos_logo
                    p LOGO
                .slider__logos_logo
                    p LOGO
                .slider__logos_logo
                    p LOGO
                .slider__logos_logo
                    p LOGO
            .slider__markers
                .slider__markers_marker
                .slider__markers_marker
                .slider__markers_marker
                .slider__markers_marker
